# Node.js
/node_modules
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SonarQube
.scannerwork/

# GitHub Runner
/actions-runner

# IDE & OS Files
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db